/* Tasty global import - (colors,variables,etc..) */
@import "./../../node_modules/tasty-global/src/styles/tasty-global.scss";
@import "_variables";

.tasty-toast-bucket{
	position: fixed;
	bottom: $toast-padding;
	right: $toast-padding;
	max-width: 400px;
	width: 100%;

	& > * + * {
		margin-top: $toast-padding;
	}
}

.tasty-toast{
  font-size: 18px;
	background: white;
  box-shadow: 5px 15px 20px -5px rgba(0, 0, 0, 0.3);
	border: 1px solid #eaeaea;
	border-bottom:none;
	font-family:  $primary-font;
	animation: jelly 1000ms linear both;
	cursor: default;
	letter-spacing: 0.025em;
	line-height: 1.5;
	z-index: 10;

	h1{
		font-size: 1.1em;
		line-height: 1;
		margin:0 0 $toast-padding/2 0;
	}

	a{
		color:inherit;
		text-decoration: none;
		font-weight: bold;
	}
}

.tasty-toast-primary{
	background: $primary;
	border-color: $primary;
	@include hue-gradient($primary);
	color: white;

	.tasty-toast-timeout:before{
		@include darken-gradient($primary);
	}
}

.tasty-toast-secondary{
	background: $secondary;
	border-color: $secondary;
	@include hue-gradient($secondary);
	color: white;

	.tasty-toast-timeout:before{
		@include darken-gradient($secondary);
	}
}

.tasty-toast-success{
	background: $success;
	border-color: $success;
	@include darken-gradient($success);
	color: white;

	.tasty-toast-timeout:before{
		@include darken-gradient($success);
	}
}

.tasty-toast-error{
	background: $error;
	border-color: $error;
	@include darken-gradient($error);
	color: white;

	.tasty-toast-timeout:before{
		@include darken-gradient($error);
	}
}


.tasty-toast-container{
  display: flex;
  padding: $toast-padding;
}

.tasty-toast-icon{
  width: $toast-padding * 2;
  margin-right: $toast-padding;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

	position: relative;

	display:flex;
	justify-content: center;
	align-items: center;
}

.tasty-toast-pulse{
	&:before{
		content: '';
		display: block;
		flex-shrink:0;
		width: 2em;
		height: 2em;
		background-color: rgba(black,0.3);
		border-radius: 50%;
		transform-origin: center;
	  animation: tasty-toast-pulse 2s infinite linear;
	}
}

.tasty-toast-timeout{
  width: 100%;
  height: 5px;
  background: rgba(black,0.2);
  transform-origin: left;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: tasty-toast-timeout;

	position: absolute;
	bottom:0;
	left:0;
}

@keyframes tasty-toast-timeout {
  0%{ transform: scaleX(1); }
  100%{ transform: scaleX(0); }
}

@keyframes tasty-toast-pulse {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}
